@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to DigiTrade</b></h1>
   @* <p> <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>*@
</div>
@*<div>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow  ">
          <p><center><b>Our Products</b></center></p>
         </nav>
</div>*@
 <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><center>
                <img src="~/css/m6.jpg" alt="Site Logo" style="height:300px; width:450px float:left"/></center></a>
 
   



@*<footer class="border-top footer text-muted">
        <nav class="navbar navbar-light bg-dark border-bottom box-shadow ">
        <div class="container">
            &copy; 2022 - DigiTrade-Privacy<a asp-area="" asp-controller="Home" asp-action="Privacy">Policy & Privacy</a>
        </div>
        </nav>
 </footer>*@
