<h1>Product List</h1>
<table class=" table table-striped  ">
  <thead>
    <tr>
      <th>Id</th>
      <th> Title </th>
      <th> Description</th>
      <th> Sales Price </th>
      <th>Current Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td> {{ product.descrip }} </td>
      <td> {{ product.salesPrice }} </td>
      <td> {{ product.currentstock }} </td>
    </tr>
  </tbody>
</table>
