@{
    ViewData["Title"] = "Home Page";
}
<style>
	body{
		background-color: aqua;
	}
</style>

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Digital Traders</b></h1>
</div>
