@model DigiTrade.Models.Brand

@{
    ViewData["Title"] = "Create";
}
<style>
body{
    background-color:seashell;
}
 </style>
<h1><b><u>REGISTER</u></b></h1>

<h4><b> Brand Details</b></h4>
<style>
    h1{
        font-family:'Californian FB';
        text-align:center;
        color:#12ABDB;
    }
    h4{
        font-family:'Californian FB';
        text-align:center;
        color:#0070AD;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<style type="text/css">
    
    .row{
        font-family:'Californian FB'
    }
    .col-md-4{
       font-family:'Californian FB';
    }
    .form-group{
       font-family:'Californian FB';
    }
    </style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
