@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome  to DigiTrade </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
*@


 


<style>
body {
  background-color: #ADD8E6;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
   text-align: center;
}

</style>


 <h2><centre><b>WELCOME To DIGI TRADING</b></centre></h2>

@*<style>
body {
  background-color: lemonchiffon;
}
</style>

<section class="header_carousel"id"header_carousel">

<div id="careuselExampleControls classe carousel stide" data-tites carousel">

<div class="caruusel-inner">
    <div class="carousel-iten active">

<img class="d-block -100 schittps://cdn.mos.cas.futurecan.net/cSOGGZGYTENAJØLafa" />
</div>
</div>
</div>
</section>*@