<h1>Product List</h1>
<table class=" table table-striped  ">
  <thead>
    <tr>
      <th>Id</th>
      <th> Title </th>
      <th> Description</th>
      <th> Sales Price </th>
      <th>Current Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td> {{ product.desc }} </td>
      <td> {{ product.salePrice }} </td>
      <td> {{ product.current_stock }} </td>
    </tr>
  </tbody>
</table>
