@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Great Shopiee</h1>
    
    
    <a class="pro_btn" href="https://localhost:44376/">
    <button 
style="background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;"
     >Get Products</button></a>
</div>
