<p>product-list works!</p>
<h2>Product List</h2>
<table class=" table table-striped">
  <thead>
    <tr>
      <th> id </th>
      <th> title </th>
      <th> description </th>
      <th> sale_price </th>
      <th> current_stock </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <!--Interpolation-->
      <td> {{ product.id }} </td>
      <td> {{ product.title }} </td>
      <td> {{ product.description }} </td>
      <td> {{ product.sale_price }} </td>
      <td> {{ product.current_stock }} </td>
    </tr>
  </tbody>
</table>
